html {
    --color-primary: #ffffff;
    --color-secondary: #fd31ff;
    --color-tertiary: #ffd1ff;
    --color-quaternary: #ffd1ff;
    --color-background: #000000;
    background-color: var(--color-background);
}

#bgImg {
    position: fixed;
    top: -5rem;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
}

button {
    color: var(--color-secondary);
    background-color: var(--color-primary);
    border: 0.1rem solid var(--color-primary);
    border-radius: 0.5rem;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-family: "Arial Black", Gadget, sans-serif;
    width: 15rem;
}

button:hover {
    color: var(--color-primary);
    background-color: var(--color-secondary);
}

#ad {
    position: fixed;
    top: 50rem;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
    color: var(--color-quaternary);
    text-decoration: none;
    font-size: 1.5rem;
}

#ad:hover {
    color: var(--color-secondary);
    font-weight: bold;
}

#copyright {
    position: fixed;
    bottom: 0;
    z-index: -1;
    color: var(--color-quaternary);
    text-decoration: none;
    font-size: 1rem;
}

.plugin-list {
    position: fixed;
    left: 50%;
    top: 40rem;
    transform: translate(-50%, -50%);
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
}

.plugin-list:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

#centeredTitle {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    font-size: 10em;
    top: 5rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: var(--color-primary);
    text-shadow: 0 0 1rem var(--color-secondary);
}

#centeredSubTitle {
    font-size: 3em;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    top: 22rem;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: var(--color-background);
    text-shadow: 0 0 1rem var(--color-tertiary);
    width: 90%;
}

@media screen and (max-width: 800px) {
    #bgImg {
        top: 5rem;
        width: 100%;
    }

    #centeredTitle {
        font-size: 3.5rem;
    }
    #centeredSubTitle {
        top: 10rem;
        font-size: 1.8em;
    }

    .plugin-list {
        width: 80%;
        top: 30rem;
    }

    #ad {
        top: 40rem;
        width: 100%;
        text-align: center;
    }

    button {
        width: 100%;
    }
}
